<div class="container" style="background-color: rgb(245, 241, 249);">
  <h4><i>ELENCO DI STRUMENTI E SPARTITI:</i></h4>
  <div class="container" role="group">
      <button class="btn colore col-6" routerLink="/spartiti" [state]="data.spartiti"  routerLinkActive="active-menu">ARTISTI</button>
      <button class="btn colore col-6" routerLink="/strumenti" [state]="data.strumenti" routerLinkActive="active-menu">BRANI</button>
  </div>
  <div class="col-12">
      <router-outlet></router-outlet>
  </div>
</div>